:root {
  --ion-color-primary: #0097a7;
  --ion-color-primary-rgb: 0, 151, 167;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #008593;
  --ion-color-primary-tint: #1aa1b0;

  --ion-color-secondary: #b2ebf2;
  --ion-color-secondary-rgb: 178, 235, 242;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #9dcfd5;
  --ion-color-secondary-tint: #baedf3;

  --ion-color-tertiary: #b2b3ff;
  --ion-color-tertiary-rgb: 178, 179, 255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #9d9ee0;
  --ion-color-tertiary-tint: #babbff;

  --ion-color-success: #50dca2;
  --ion-color-success-rgb: 80, 220, 162;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #46c28f;
  --ion-color-success-tint: #62e0ab;

  --ion-color-warning: #ffbb20;
  --ion-color-warning-rgb: 255, 187, 32;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0a51c;
  --ion-color-warning-tint: #ffc236;

  --ion-color-danger: #f09058;
  --ion-color-danger-rgb: 240, 144, 88;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #d37f4d;
  --ion-color-danger-tint: #f29b69;

  --ion-color-dark: #404040;
  --ion-color-dark-rgb: 64, 64, 64;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #383838;
  --ion-color-dark-tint: #535353;

  --ion-color-medium: #616269;
  --ion-color-medium-rgb: 97, 98, 105;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #55565c;
  --ion-color-medium-tint: #717278;

  --ion-color-light: #aaa8a9;
  --ion-color-light-rgb: 170, 168, 169;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #969495;
  --ion-color-light-tint: #b3b1b2;
}
