<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"> </ion-back-button>
      <!-- <ion-menu-button></!-->
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment (ionChange)="onChangeSearchType($event)">
    <ion-segment-button value="text" checked>Search by Verse</ion-segment-button>
    <ion-segment-button value="search">Search by word or phrase</ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-button color="primary" expand="block" (click)="showSearchForm()">Show Search Form</ion-button>
    <form *ngIf="!searchResult || showSearch" (ngSubmit)="getSearch()" [formGroup]="searchForm">
      <ion-row class="ion-text-center">
        <ion-col size-sm="6" offset-sm="3">
          <ion-item *ngIf="searchType === 'text'">
            <ion-input type="text" clearInput placeholder="enter a verse" formControlName="verse"></ion-input>
          </ion-item>
          <ion-item *ngIf="searchType === 'search'">
            <ion-input
              clearInput
              placeholder="enter word or phrase(wrap in quotations for more precise results)"
              formControlName="verse"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-list-header>Settings</ion-list-header>
            <ion-item>
              <ion-label>Include Footnotes</ion-label>
              <ion-checkbox color="primary" formControlName="includeFootnotes" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox color="secondary" formControlName="includeFootnoteBody" checked slot="start"></ion-checkbox>
              <ion-label>Include Footnote Body</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="tertiary" formControlName="includeVerseNumbers" checked slot="start"></ion-checkbox>
              <ion-label>Include Verse Numbers</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-button color="tertiary" fill="outline" expand="block" (click)="getSearch()">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>

    <ion-text color="dark">
      <span *ngIf="searchResult && searchType === 'text'">
        <ion-row>
          <ion-col>
            <ion-card (click)="saveCard(searchResult.slice(1))">
              <ion-card-subtitle class="ion-padding">
                {{ searchResult[0] }}
              </ion-card-subtitle>
              <ion-card-content style="padding-top: 0px;">
                <span (click)="saveCard(res !== '')" *ngFor="let res of searchResult.slice(1)">
                  <p *ngIf="res === ''"><br /></p>
                  <p *ngIf="res !== ''">
                    {{ res }}
                  </p>
                </span>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </span>
    </ion-text>

    <ion-text color="dark">
      <span *ngIf="searchResult && searchType === 'search'">
        <ion-row>
          <ion-col class="ion-text-end">
            <ion-text>
              <p>Total Results: {{ searchResult['total_results'] }}</p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col size="4">
            <ion-button [disabled]="searchResult.page === 1" (click)="decrementPage()" fill="clear">
              <ion-icon color="primary" size="large" name="arrow-dropleft" class="ion-margin-end"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4" class="ion-align-self-center"> Page {{ searchResult['page'] }} of {{ searchResult['total_pages'] }} </ion-col>
          <ion-col size="4">
            <ion-button [disabled]="searchResult.page === searchResult.total_pages" (click)="incrementPage()" fill="clear">
              <ion-icon color="primary" size="large" name="arrow-dropright"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card (click)="saveCard(result)" *ngFor="let result of searchResult['results']">
              <ion-card-header>
                <ion-card-subtitle>
                  {{ result.reference }}
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p>{{ result.content }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </span>
    </ion-text>
    <ion-text>
      <span *ngIf="errorMsg">{{ errorMsg }}</span>
    </ion-text>
  </ion-grid>
</ion-content>
